/* Auth Modal Styles */
@import './Modal.scss';

.auth-modal {
  &__content {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__separator {
    width: 100%;
    height: 1.5px;
    background: rgba(120, 120, 120, 0.25);
    margin: 0.75rem auto 1.5rem auto;
    border: none;
    border-radius: 1px;
  }

  &__title {
    margin: 0 auto;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    
    &-dot {
      color: #fa8933;
    }
  }

  &__description {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #a0a0a9;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line;
    max-width: 270px;
    
    .highlight {
      color: #cfcfcf;
      font-weight: bold;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 85%;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
    
    &--outline {
      border: 1px solid #3a3a43;
      background-color: #2a2a33;
      color: white;
    }
    
    &--primary {
      border: none;
      background-color: white;
      color: #232329;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #6b7280;
    
    &-link {
      display: flex;
      align-items: center;
      color: #6b7280;
      text-decoration: none;
      font-size: 14px;
      transition: color 0.15s;
      
      &:hover {
        color: #a0a0a0;
      }
    }
  }

  &__warning {
    margin-top: 15px;
    text-align: center;
    color: #606060bd;
    font-size: 12px;
    font-weight: 400;
  }
}
