.discord-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.75rem;
  min-width: 2.75rem;
  margin-left: 0.275rem;
  border-radius: 0.5rem;
  background: #232329;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out;

  &:hover,
  &:focus {
    background: #cc6d24;
    outline: none;
  }
}

@media (max-width: 730px) {
  .discord-button {
    display: none !important;
  }
}
