# Port Configuration
POSTGRES_PORT=5432
KEYCLOAK_PORT=8080
CODER_PORT=7080
APP_PORT=8000

# API Configuration
API_WORKERS=1
FRONTEND_URL=your_frontend_url

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=pad

# Redis Configuration
REDIS_PASSWORD=redis123
REDIS_HOST=redis
REDIS_PORT=6379

# Keycloak Configuration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# Fill this after you have created a realm and client in keycloak
OIDC_REALM=your_realm
OIDC_CLIENT_ID=your_client_id
OIDC_CLIENT_SECRET=your_client_secret

# Docker group id for coder, get it with: getent group docker | cut -d: -f3 
DOCKER_GROUP_ID=your_docker_group_id

# Coder Configuration
CODER_ADDITIONAL_CSP_POLICY=frame-ancestors *
CODER_API_KEY=your_coder_api_key
CODER_TEMPLATE_ID=your_template_id
CODER_DEFAULT_ORGANIZATION=your_organization_id
CODER_WORKSPACE_NAME=your_workspace_name