// Black & White
$black: #000;
$white: #fff;

// Greys (https://coolors.co/fafafa-f6f6f6-eeeeee-dddddd-cccccc-999999-666666-595959-333333)
$grey-100: #fafafa;
$grey-200: #f6f6f6;
$grey-300: #eee;
$grey-400: #ddd;
$grey-500: #ccc;
$grey-600: #999;
$grey-700: #666;
$grey-800: #595959;
$grey-900: #333;

// Accent Colors (https://coolors.co/ff9747-ff7d1a-f06800-e06100-cc5800)
$accent-light: #ff9747;
$accent-lighter: #ff7d1a;
$accent: #f06800; 
$accent-darker: #e06100;
$accent-dark: #cc5800;